.cor-fundo{
    background-color: rgb(207, 161, 185);
}

ul li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
    font-size: larger;

}

.div-botao-comprar{
    height: 50px;
}

.footer {
    height: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed; 
    background-color: white;
}

.botaoCadastro{
    margin:0 auto;
    display:block;
    width: 200px;
}

.menu{
    background: rgb(99, 67, 83);
    
}

.header {
    background: black;
    height: 40px;
}

.produtos{
    margin-top: 10px;
    width: 100%;
    height: 100%;
}


.card-produtos{
    width: 200px;
    height: 400px;
}

.div-card{
    width: 200px;
    height: 300px;
    background-color: gray;
    float: left;
    margin: 5px;
}

.div-img{
    width: 100%;
    height: 70%;
}

.div-img img{
    width: 100%;
    height: 100%;
    padding: 2px;
    border-radius: 4px;
    color: white;
}

.div-titulo{
    text-align: center;
}

.div-titulo h3{
    margin: 0px;
}

.div-descricao{
    text-align: center;
}

.div-add-carrinho{
    width: 100%;
    margin-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
}

.div-botao-add-carrinho{
    width: 100%;

}

@media only screen and (max-width: 700px) {

    
    .banner{
        margin: auto;
    }
    
    .itens-header{
        margin: 0 auto;
        padding-top: 10px;
        text-align: center;
        font-size: 12px;
        margin-bottom: 0;
    }

    .icones-header{
        margin-right: 100px;
        margin-top: 0;
    }

}
